[submodule "tinydinos"]
	path = tinydinos
	url = https://github.com/tinydinosnft/tinydinosassets
[submodule "anonymice"]
	path = anonymice
	url = https://github.com/jozanza/anonymice-images
[submodule "hyperloot"]
	path = hyperloot
	url = https://github.com/hyperloot-nft/hyperloot-assets.git
